<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Quattrocento+Sans|Satisfy&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

	<!-- <link rel="stylesheet"  href="/basiccss.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel='stylesheet' href='/stylesheets/style.css'/>

	<link rel="stylesheet"  href="/stylesheets/dashboard.css">


</head>
<body>
    
<%- include('./includes/header.ejs') %>

    <div class="container my-5">

            <% if(data.length>0) { %>
				<% for(var i=0; i<data.length;i++) { %>

            <div class = "d-flex flex-row justify-content-center">
                    <div class= "col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3  ">
                        <ul class="list-group">
                            <li class="list-group-item">
                                    <img src="<%- data[i].item.img %>" alt="IMG"  style="width: 8vh;height: 8vh;border:black; border-radius: 50%" class="img-responsive" >


                            
                                   
                                <strong><%= data[i].item.foodname %></strong>
                                    <i class="fa fa-rupee"></i> <%= data[i].item.price %>
                                  
                               
                                    <a href="/customer/removeall/<%- data[i].item._id %>"  class="badge badge-pill badge-success mx-2 float-right pull-right" role="button"><i class="fa fa-trash"></i></a>
                                        
                                   
                                    
                                  <a href="/customer/add-inside-cart/<%- data[i].item._id %>" class="badge badge-pill badge-success mx-2 float-right pull-right  " role="button"> + </a>
                                  
                                  <span class=" badge badge-pill badge-info pull-right "> <%= data[i].qty %></span>
                                  <a href="/customer/remove-from-cart/<%- data[i].item._id %>" class="badge badge-pill badge-success mx-2 float-right pull-right" role="button">-</a>
                                  
                                  
                                  

                                    <!-- <div class="btn-group">
                                        <button class=" btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action 
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#">Remove by 1</a>
                                                <a href="/customer/remove-from-cart/<%- data[i].item._id %>" class="btn btn-success pull-right" role="button">Remove by 1</a>

                                            </li>
                                            <li>
                                                    <a href="#">Remove all</a>
                                                </li>
                                        </ul>
                                    </div> -->
                                    
                                    
                                
                            </li>
                        </ul>
                
                    </div>
                </div>
                <% } %>
                
    </div>
    <hr>

    
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                <strog>Total: <i class="fa fa-rupee"></i> <%= totalPrice %> </strog>
            </div>
        </div>
    </div>
    <div></div>
    <hr>
    <div class="container">
        <div class="row" >
            <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3" >
                <a href="/checkout" type="button"  style="color:black;background-image: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);" class="btn btn-success">Checkout</a>
            </div>
            
        </div>
    </div>
        <hr>
       
        <%} else { %>
        <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                       <h1>Cart is empty <i class="fa fa-warning"></i></h1>
                    
                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                            
                            <a href="dashboard"><h3>Order Something Delicious         <i class="fa fa-arrow-left"></i></h3></a> 
                         </div>
                </div>
            </div>
            <% } %>
          
            
<script   src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->

</body>
</html>





